<div class="wrap" id="history">
	<div>
		<div>
			<%= link_to t('all'), top_all_path( :start => '0'), class: ['btn'] %>
			<%= link_to t('for') + t('hour'), top_hour_path( :start => '0'), class: ['btn'] %>
			<%= link_to t('for') + t('day'), top_day_path( :start => '0'), class: ['btn'] %>
			<%= link_to t('for') + t('week'), top_week_path( :start => '0'), class: ['btn'] %>
		</div>
		<h1>Топ запросов за месяц</h1>
		<% if !@top_month.nil? && @top_month.any? %>
			<table class="table">
				<tr class="row_header">
					<td class="date_cell"><%= t('count') %></td>
					<td class="req_cell"><%= t('request') %></td>
				</tr>
				<% @top_month.each do |req| %>
					<tr class="row">
						<td class="date_cell"><%= req.count %></td>
						<td class="req_cell"><%= link_to req.request,
							search_view_path( :new => 'true', :start => '0', :str => req.request ) %></td>
					</tr>
				<% end %>
			</table>
		<% else%>
			<div class="headline"><%= t('empty_history') %></div>
		<% end %>
		<% if @allow_prev %>
			<%= link_to t('previous'),
				top_month_path( :start => "#{@start.to_i-10}" ),
				class: ["btn"] %>
		<% end %>

		<% if @allow_next %>
			<%= link_to t('next'),
				top_month_path( :start => "#{@start.to_i+10}" ),
				class: ["btn"] %>
		<% end %>
  	</div>
</div>