<div class="wrap" id="search">
	<div>
    	<div>
    		<%= image_tag("logo.png") %>
			<%= form_tag '/search_req', :method => 'get', id: 'search_form' do %>
				<%= hidden_field_tag :new, 'true' %> 
				<%= hidden_field_tag :start, '1' %> 
				<%= text_field_tag :str, '', autofocus: true, :required => true, id: 'search_field' %>
				<%= submit_tag t('search'), id: 'search_button' %>
			<% end %>
			<div id="results"></div>
		</div>
		<br/>
		<div class="headline"><%= t('top') %></div><br/>
		<table>
		<td>
		<div id="periodic-top" class="top">
			<div>
				<a class="tab" id="top_hour_btn"><%= t('for') + t('hour') %></a>
				<a class="tab" id="top_day_btn"><%= t('for') + t('day') %></a>
				<a class="tab" id="top_week_btn"><%= t('for') + t('week') %></a>
				<a class="tab" id="top_month_btn"><%= t('for') + t('month') %></a>
			</div><br/>

			<table id="top_hour">
				<% if @top_hour[0..4] != [] %>
					<tr class="row_header">
						<td class="req_cell"><%= t('requests') %></td>
						<td class="date_cell"><%= t('count') %></td>					
					</tr>
					<% @top_hour[0..4].each do |req| %>
						<tr class="row">
							<td class="req_cell"><%= link_to req.request,
										search_view_path( :new => 'true', :start => '1', :str => req.request ) %></td>
							<td class="date_cell"><%= req.count %></td>									
						</tr>
					<% end %>
				<% else %>
					<tr class="row"><td><%= t('for') + t('lastm') + t('hour') + t('no_results') %></td></tr>
				<% end %>
			</table>

			<table id="top_day">
				<tr class="row_header">
					<td class="req_cell"><%= t('requests') %></td>
					<td class="date_cell"><%= t('count') %></td>					
				</tr>
				<% if @top_day[0..4] != [] %>
					<% @top_day[0..4].each do |req| %>
						<tr class="row">
							<td class="req_cell"><%= link_to req.request,
										search_view_path( :new => 'true', :start => '1', :str => req.request ) %></td>
							<td class="date_cell"><%= req.count %></td>									
						</tr>
					<% end %>
				<% end %>
			</table>

			<table id="top_month">
				<tr class="row_header">
					<td class="req_cell"><%= t('requests') %></td>
					<td class="date_cell"><%= t('count') %></td>					
				</tr>
				<% if @top_month[0..4] != [] %>
					<% @top_month[0..4].each do |req| %>
						<tr class="row">
							<td class="req_cell"><%= link_to req.request,
										search_view_path( :new => 'true', :start => '1', :str => req.request ) %></td>
							<td class="date_cell"><%= req.count %></td>									
						</tr>
					<% end %>
				<% end %>
			</table>

			<table id="top_week">
				<tr class="row_header">
					<td class="req_cell"><%= t('requests') %></td>
					<td class="date_cell"><%= t('count') %></td>					
				</tr>
				<% if @top_week[0..4] != [] %>
					<% @top_week[0..4].each do |req| %>
						<tr class="row">
							<td class="req_cell"><%= link_to req.request,
										search_view_path( :new => 'true', :start => '0', :str => req.request ) %></td>
							<td class="date_cell"><%= req.count %></td>									
						</tr>
					<% end %>
				<% end %>
			</table><br/>
			<%= link_to t('more'), top_all_path( :start => '1'), class: ['btn'] %>
		</div></td>

		<td><div id="divider" class="top"></div></td>
			<td>
				<table id="all-top" class="top">
				<% if @top[0..3] != [] %>
					<% @top[0..3].each_slice(2) do |req| %>
						<tr class="square_row">
							<%= link_to search_view_path( :new => 'true', :start => '1', :str => req[0].request ) do %>
							<td>
								<div class="square">							
									<div class="label">   <%= req[0].request %>   </div>									
									<div class="count">   <%= req[0].count %>   </div>
								</div>
							</td>
							<% end %>


							<%= link_to search_view_path( :new => 'true', :start => '1', :str => req[1].request ) do %>
							<td>
								<div class="square">							
									<div class="label">   <%= req[1].request %>   </div>									
									<div class="count">   <%= req[1].count %>   </div>
								</div>
							</td>
							<% end %>	
						</tr>
					<% end %>
				<% end %>
				</table>
			</td>
		</table>
	</div>
</div>
