<div class="wrap" id="search">
	<div>
    	<div class='headline'><%= t('search_title') %></div>
    	<div id="google"><%= image_tag('https://www.google.ru/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png') %></div>
    	<div>
			<%= form_tag('search_req', :method => 'get', id: 'search_form') do %>
				<%= hidden_field_tag :start, '1' %> 
				<%= text_field_tag :str, '', autofocus: true, :hover =>'check()', class: ["search_field"] %>
				<%= submit_tag(t('search'), class: ["btn"]) %>
			<% end %>
		</div>
	</div>
</div>

<div class="wrap" id="login_status">
	<div>
		<% if user_signed_in? %>
		    <div class="headline"><%= t('hello') + current_user.email %></div>
		    <div>
			    <%= link_to t('sign_out'), destroy_user_session_path, :method => :delete, class: ["btn"] %>
			    <%= link_to t('request_history'), 'users/profile', :method => :get, class: ["btn"] %>
		    </div>
		<% else %>
		    <%= link_to t('sign_in'), new_user_session_path, class: ["btn"] %>     <%= link_to t('sign_up'), new_user_registration_path, class: ["btn"] %>
		<% end %>
	</div>
</div>