<div class="wrap" id="search">
	<div>
		<!--
    	<div class='headline' onclick="get_socials()"><%= t('search_title') %></div>
    	<div id="google"><%= image_tag('https://www.google.ru/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png') %></div>
    	-->

    	<div>
    		<%= image_tag 'https://mographic.files.wordpress.com/2016/12/unspecified.png', width: '90%' %>
			<%= form_tag '/search_req', :method => 'get', id: 'search_form' do %>
				<%= hidden_field_tag :new, 'true' %> 
				<%= hidden_field_tag :start, '1' %> 
				<%= text_field_tag :str, '', autofocus: true, :required => true, id: 'search_field' %>
				<%= submit_tag t('search'), id: 'search_button' %>
			<% end %>
		</div>
		<% if Request.all[0..4] != [] %>
			<br/>
			<div class="headline">Топ 5 запросов</div><br/>
			<table>
				<tr class="row_header">
					<td class="date_cell">Кол-во</td>
					<td class="req_cell">Запрос</td>
				</tr>
				<% Request.order(count: :desc).all[0..4].each do |req| %>
					<tr class="row_header">
						<td class="date_cell"><%= req.count %></td>
						<td class="req_cell"><%= link_to req.request,
									search_view_path( :new => 'true', :start => '1', :str => req.request ) %></td>
					</tr>
				<% end %>
			</table>
		<% end %>
		<div id="tip"></div>
	</div>
</div>