<div class="wrap" id="output">
	<div>
		<%= form_tag 'search_req', :method => 'get', id: 'search_form' do %>
			<%= hidden_field_tag :new, 'true' %> 
			<%= hidden_field_tag :start, '1' %> 
			<%= text_field_tag :str, params[:str], autofocus: true, required: true, id: 'search_field' %>
			<%= submit_tag t('search'), id: 'search_button' %>
		<% end %>

		<!-- <div class="headline"><%= t('search_results') %> "<%= params[:str] %>"</div> -->

		<% if !@result_array.nil? %>
			<table class='table'>
				<tr class='row_header'>
					<td class='img_cell'><%= t('site') %></td>
				    <td class='title_cell'><%= t('result_header') %></td>
				</tr>

				<% @result_array.each do |x| %>
					<tr class='row'>
						<td class='img_cell'><%= link_to image_tag( x[:img], height: 30 ), x[:site], :target => '_blank' %></td>
						<td class='title_cell'><%= link_to x[:title], x[:link], :target => '_blank' %></td>
					</tr>
				<% end %>
			</table>
		<% else %>
			<div class='title_cell'><%= t('no_results') %></div>
		<% end %>

		<% if @start != '1' %>
			<%= link_to t('previous'),
				search_view_path( :new => 'false', :start => "#{@start.to_i-10}", :str => @req ),
				class: ["btn"] %>
		<% end %>

		<% if @start != '91' %>
			<%= link_to t('next'),
				search_view_path( :new => 'false', :start => "#{@start.to_i+10}", :str => @req ),
				class: ["btn"] %>
		<% end %>
	</div>
</div>