<div class="wrap" id="history">
	<div>
		<h1><%= t('history_title') + current_user.email %></h1>
		<% if !@history.nil? %>
			<table class="table">
				<tr class="row_header">
					<td class="date_cell"><%= t('date') %></td>
					<td class="req_cell"><%= t('request') %></td>
				</tr>
				<% @history.each do |req| %>
					<tr class="row_header">
						<td class="date_cell"><%= req.created_at.to_s.split('')[0..18].join %></td>
						<td class="req_cell"><%= req.request %></td>
					</tr>
				<% end %>
			</table>
		<% else%>
			<div><%= t('empty_history') %></div>
		<% end %>
  	</div>
</div>
